set -euo pipefail

export UV_PROJECT_ENVIRONMENT="$(pwd)/.venv"

if command -v nix > /dev/null; then
    export UV_NO_MANAGED_PYTHON=true

    use flake
fi

# uv is assumed to exist; doesn't matter if in the flake or otherwise
if ! command -v uv > /dev/null; then
    echo "Command uv not found. Please install." >&2
    return 1
fi

watch_file pyproject.toml
watch_file uv.lock

source "$UV_PROJECT_ENVIRONMENT/bin/activate"

# init
